*{
    margin:0;
    padding:0;
}

.Story {
    width:90%;
    height:60vh;
    display: flex;
    grid-gap:0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.Post {
    background: linear-gradient(lightskyblue, lightyellow 70%);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    height: 300px;
    max-height: 70vh;
    -webkit-box-shadow: 0 12px 18px -6px #e31b1b;
    box-shadow: 0 12px 18px -6px lightskyblue;
    object-fit: contain;
    width: 70%;
    transition: transform 450ms;
}

.Post:hover {
    transform:scale(1.08);
    opacity:1;
}

.Post {
    width: 40%;
    margin-top: 60px;
    margin-left:30px;
    max-height: 300px;
    padding:10px;
    border: 1px lightslategray;
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Post p {
    width: 80%;
}

.Post:hover {
    cursor:pointer;
}

.Post p{
    font-family: Oxygen;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    text-transform: capitalize;
}

.Post h4{
    text-align: justify;
    text-indent: 2em;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 32px;
}

.localDate {
    font-family: Oxygen, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
}

.title {
    font-family: Oxygen, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
}

