.date {
    font-family: Oxygen, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    text-align: right;
}

.PostContainer {
    background: white;
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
    /*display: flex;*/

}

.PostContainer h1 {
    font-weight: bolder;
    text-align: center;
}

.author {
    font-family: Oxygen, serif;
    font-size: 18px;
    font-style: italic;
    text-align: right;
}