@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Luckiest Guy", cursive;
    color: #CFF09E;
    font-size: 50px;
    margin-top: 50px;
    text-shadow: 2px 2px 8px #0B486B;
}

.box1 {
    background: linear-gradient(#030C22, #2c4992 70%);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    height: 400px;
    max-height: 70vh;
    -webkit-box-shadow: 0 12px 18px -6px #000000;
    box-shadow: 0 12px 18px -6px #023bac;
    object-fit: contain;
    width: 50%;
    transition: transform 450ms;
}

/*.box3:hover{*/
/*    transform:scale(1.08);*/
/*    opacity:1;*/
/*}*/
.box1:hover {
    transform: scale(1.08);
    opacity: 1;
}

/*.box2:hover {*/
/*    transform:scale(1.08);*/
/*    opacity:1;*/
/*}*/
.box1 {
    padding-bottom: 100px;
    height: 20vh;
    margin: 25px;
    font-size: 40px;
    font-family: "Kristen ITC", serif;
    text-align: center;
    color: white;
    position: relative;
}

.grid {
    width: 90%;
    height: 50vh;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);
}

.navbar-dark {
    background-color: #3b5998 !important;
}

.grid > div {
    flex-basis: calc(33.333% - 50px);
}
